*.log
.DS_Store
.env
.env.backup
.env.production
.env.local
.env.staging
.env.testing
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/logs
/storage/cache
/storage/sessions
/storage/views
/bootstrap/cache
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
config/database.php
config/app.php
config/mail.php
config/services.php
config/logging.php
config/cache.php
config/session.php
config/filesystems.php
config/queue.php
config/auth.php
database/database.sqlite
database/database.sqlite.backup
